@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

.animate-scroll > div {
  white-space: normal; /* Ensure text wraps inside each card */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.hero-slider-bg {
  background: linear-gradient(301.37deg, #313130 -47.85%, #000000 136.43%),
    linear-gradient(
      220.68deg,
      rgba(0, 0, 0, 0.128) -3.75%,
      rgba(0, 0, 0, 0.064) 104.14%
    );
}

.hero-card-gradient{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%);

}

.newshook-card {
  background: linear-gradient(
    180deg,
    rgba(138, 138, 138, 0.05) 0%,
    rgba(191, 175, 196, 0.02) 100%
  );
}

.newshook-card:hover {
  background: linear-gradient(131.52deg, #313130 -32.39%, #151515 113.18%),
    linear-gradient(
      220.68deg,
      rgba(0, 0, 0, 0.8) -3.75%,
      rgba(0, 0, 0, 0.48) 104.14%
    );
}

.features-bg {
  background: radial-gradient(
    45% 25% at 6% 24.4%,
    rgba(63, 185, 80, 0.08) 0%,
    rgba(12, 12, 12, 0) 100%
  );
}

.features-card-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(171, 171, 171, 0.01) 100%
  );
}

.features-card-shadow {
  box-shadow: 0px 2px 1px 0px #ffffff0a inset;
}

.product-suite-bg {
  background: radial-gradient(
    60% 35% at 52.3% -5.9%,
    rgba(63, 185, 80, 0.16) 0%,
    rgba(165, 165, 161, 0) 100%
  );
}
